{% extends 'base.html.twig' %}

{% block title %}Technologies{% endblock %}

{% block body %}

<div class="main-title">
    <h1>Technologies</h1>
</div>
<div class="technology">
    {% for technology in technologies %}
        <div class="technology-card">
            <img class="technology-image" src="{{ technology.image }}" alt="logo-{{ technology.name }}">
            <h3 class="technology-name">{{ technology.name }}</h3>
        </div>
    {% endfor %}
</div>

{% endblock %}
