<footer>
	<p>
		2023 | Pierre-Henri Kocan |
		<a class="btn btn-legal" data-bs-toggle="modal" data-bs-target="#mentionsLegales">Mentions Légales</a>
	</p>
	<div class="modal fade" id="mentionsLegales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fs-5" id="exampleModalLabel">Mentions légales</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Le site www.pierre-henri-kocan.com est développé et géré par :<br>
					Pierre-Henri Kocan.
					<br>
					<br>
					Le site www.pierre-henri-kocan.com est hébergé par :<br>
					OVHcloud.<br>
					SAS au capital de 10 174 560 €<br>
					RCS Lille Métropole 424 761 419 00045<br>
					Code APE 2620Z<br>
					N° TVA : FR 22 424 761 419<br>
					Siège social :<br>
					2 rue Kellermann<br>
					59100 Roubaix<br>
					France<br>
					Président : Michel Paulin<br>
					Hébergeur : OVH SAS<br>
					Tél : 1007<br>
				</div>
			</div>
		</div>
	</div>
</footer>
