{% extends 'base.html.twig' %}

{% block title %}Expériences
{% endblock %}

{% block body %}

<div class="timeline">
    <ul>
    {% for experience in experiences %}
        <li>
            <div class="content">
                <h3>{{ experience.title }}</h3>
                <h6>{{ experience.location }}</h6>
                {% for detail in experience.detail %}
                <p>{{ detail.content }}</p>
                {% endfor %}
            </div>
            <div class="time">
                <h4>{{ experience.period }}</h4>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
